<div class="sidebar">
	<div class="sidebar__wrapper">

		<!-- Nav -->
			<nav>
				<ul class="sidebar__nav-wrapper">
					<li>
						<a href="/about" class="sidebar__nav-link">
							<span class="sidebar__nav-item">ABOUT US</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
          <li>
						<a href="/articles" class="sidebar__nav-link">
							<span class="sidebar__nav-item">ARTICLES</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
          <li>
						<a href="/courses" class="sidebar__nav-link">
							<span class="sidebar__nav-item">COURSE DESCRIPTIONS</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
          <li>
						<a href="/resources" class="sidebar__nav-link">
							<span class="sidebar__nav-item">RESOURCES</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
          <li>
						<a href="/contact" class="sidebar__nav-link">
							<span class="sidebar__nav-item">CONTACT US</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
					<li>
						<a href="/links" class="sidebar__nav-link">
							<span  id="where_to_buy" class="sidebar__nav-item">RELATED LINKS</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
				</ul>
			</nav>
	</div>

	<div class="sidebar__business-info-wrapper">
		<h4><strong>Follow Us</strong></h4>
    <p class="sidebar__business-info">_______</p>
    <p class="sidebar__business-info"><a href="https://www.instagram.com/gabrielsbakery/"><i class="fab fa-instagram" aria-hidden="true"></i> @gabrielsbakery </a></p>
    <p class="sidebar__business-info"><a href="https://www.facebook.com/gabrielsbakerypdx"><i class="fab fa-facebook-square" aria-hidden="true"></i> facebook.com/gabriels-bakery </a></p>
  </div>

  </div>
</div>
