.sidebar {
	@include mobile {
		display: none;
	}


	background-position: center;
  background-color: #7AD376;
	color: purple;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 12rem;
  z-index: 998;
}

.sidebar__logo-wrapper {
	cursor: default;
	margin-top: 2rem;
	min-height: 10rem;
	position: relative;
}

.sidebar__logo {
	display: block;
	margin: auto;
  max-height: 8rem;
}

.sidebar__nav-wrapper {
	margin-bottom: 0;
	margin-top: 1rem;
	list-style-type: none;
}

.sidebar__nav-link {
	border: 0;
	color: purple;
  font-style: italic;
	display: block;
	outline: 0;
	padding: 0rem 1rem 0rem 1rem;
	text-decoration: none;

	&:hover, &:active, &:focus {
		color: $gold;
	}
}

.sidebar__nav-item {
	display: block;
	font-size: 1rem;
	// position: relative;
  padding-right: 2rem;
  text-align: center;
}

.sidebar__nav-hr {
	// color: $black;
	padding: 0rem 1rem 0rem 1rem;
  padding-right: 3rem;
}

.sidebar__business-info-wrapper {
	bottom: 0;
	color: $black;
	display: block;
  text-align: center;
	font-size: 0.75rem;
	margin-top: 1rem;
	padding: 1rem 1rem 0rem 1rem;
	right: 0;
}

.sidebar__business-info {
	line-height: 0.75;

	a{
		text-decoration: none;
	}

}
